<!DOCTYPE html>
<html>
<head>
  <title>Designer</title>
  <%= stylesheet_link_tag 'interface.css', 'reset.css', 
      #{}"/styles.css?type=#{@site_type}&accent_color=#{@color_1}&button_color=#{@color_2}&background_color=#{@color_3}&mobile=#{@mobile ? 1 : 0}" 
%>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>

</body>
</html>
